h2 {
    margin-bottom: 0.2rem;
}

p {
    margin-top: 0.2rem;
    margin-bottom: 0;
}

input {
    width: 500px;
    max-width: 80%;

}

.input-container {
    display: block;
    text-align: center;
}
.directory {
    display: grid;
    grid-template-columns: 1fr;
}

.employee-card {
    display: flex;
    align-items: center;
    flex-direction: row;
    border: 1px solid black;
    padding: 20px;
    border-radius: 1rem;
    gap: 20px;
    width: 1fr;
    margin: 20px;
    min-width: 400px;
}

.employee-card:hover {
    background-color: greenyellow;
    transition: background-color 0.2s ease;
}

.employee-info {
    display: flex;
    flex-direction: column;
}



.photo {
    width: auto;
    max-width: 150px;
    border-radius: 50%;
}

hr {
    width: 100%;
}

.modal {
    position: fixed;
    display: block;
    opacity: 1;
    visibility: visible;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.1);
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 700px;
    height: 450px;
    background-color: white;
    z-index: 1;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.close-btn {
    margin-left: auto;
    font-size: 1.5rem;
}

.close-btn:hover {
    color: green;
    cursor: pointer;
}

.modal .employee-info {
    align-items: center;
}

.pagination {
    display: flex;
    flex-direction: row;
    gap: 10px; 
    margin-top: 40px;
    margin-bottom: 20px;

}

.button {
    cursor: pointer;
}

#left {
    margin-right: auto;
}

#right {
    margin-left: auto;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@media (min-width: 768px) {

    .directory {
        grid-template-columns: 1fr 1fr 1fr;
    }
}